/* 노말 라이즈 */
a{ 
  text-decoration:none; 
  color:inherit; 
}
body, ul, li{ 
  margin:0; 
  list-style:none; 
  padding:0;}
a:hover{
	text-decoration:underline;
}

.screen {
  position: relative;
  width: 1920px;
  height: 1300px;
  background-color: #ffffff;
}

.screen .view {
  width: 1920px;
  height: 961px;
  top: 75px;
  overflow: hidden;
  position: absolute;
  left: 0;
  background-color: #ffffff;
}

.screen .overlap {
  position: absolute;
  width: 1626px;
  height: 743px;
  top: 27px;
  left: 380px;
}

.screen .overlap-group {
  position: absolute;
  width: 1626px;
  height: 743px;
  top: 0;
  left: 0;
}

.screen .group {
  position: absolute;
  width: 1626px;
  height: 543px;
  top: 200px;
  left: 0;
}

.screen .book-wrapper {
  position: absolute;
  width: 1160px;
  height: 543px;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  border-radius: 20px;
}

.screen .book {
  position: relative;
  width: 20px;
  height: 22px;
  top: 12px;
  left: 19px;
}

.screen .union {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 3px;
  left: 2px;
}

.screen .text-wrapper {
  position: absolute;
  width: 27px;
  top: 40px;
  left: 1597px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .line {
  width: 1160px;
  top: 238px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .rectangle {
  position: absolute;
  width: 280px;
  height: 248px;
  top: 0;
  left: 1210px;
  background-color: #f6f6f6;
  border-radius: 10px;
}

.screen .div {
  position: absolute;
  top: 119px;
  left: 1235px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #acacac;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .img {
  width: 277px;
  top: 31px;
  left: 1210px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .rename {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 1223px;
  overflow: hidden;
}

.screen .union-2 {
  position: absolute;
  width: 15px;
  height: 17px;
  top: 2px;
  left: 2px;
}

.screen .union-3 {
  position: absolute;
  width: 15px;
  height: 17px;
  top: 652px;
  left: -5023px;
}

.screen .text-wrapper-2 {
  position: absolute;
  width: 28px;
  top: 7px;
  left: 1250px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-3 {
  position: absolute;
  width: 28px;
  top: 214px;
  left: 44px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .rectangle-2 {
  position: absolute;
  width: 277px;
  height: 473px;
  top: 270px;
  left: 1210px;
  background-color: #f6f6f6;
  border-radius: 20px;
}

.screen .text-wrapper-4 {
  position: absolute;
  width: 110px;
  top: 282px;
  left: 1248px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .line-2 {
  width: 277px;
  top: 309px;
  left: 1210px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .bulb {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 276px;
  left: 1221px;
}

.screen .rectangle-3 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 320px;
  left: 1222px;
}

.screen .rectangle-4 {
  position: absolute;
  width: 204px;
  height: 23px;
  top: 319px;
  left: 1252px;
  background-color: #d3d3d3;
  border-radius: 20px;
}

.screen .text-wrapper-5 {
  position: absolute;
  height: 15px;
  top: 322px;
  left: 1262px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
  white-space: nowrap;
}

.screen .rectangle-5 {
  position: absolute;
  width: 222px;
  height: 25px;
  top: 703px;
  left: 1231px;
  background-color: #d9d9d9;
  border-radius: 20px;
}

.screen .text-wrapper-6 {
  position: absolute;
  height: 17px;
  top: 708px;
  left: 1243px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #8f8888;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16.5px;
  white-space: nowrap;
}

.screen .union-4 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 706px;
  left: 1458px;
}

.screen .group-2 {
  position: absolute;
  width: 710px;
  height: 41px;
  top: 259px;
  left: 19px;
}

.screen .rectangle-6 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1px;
  left: 0;
}

.screen .div-wrapper {
  position: absolute;
  width: 668px;
  height: 40px;
  top: 0;
  left: 52px;
  background-color: #6c6464;
  border-radius: 10px;
}

.screen .p {
  position: absolute;
  top: -4.5px;
  left: 18px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .overlap-2 {
  position: absolute;
  width: 183px;
  height: 29px;
  top: 147px;
  left: 977px;
  background-color: #f6f6f6;
  border-radius: 20px;
}

.screen .text-wrapper-7 {
  position: absolute;
  top: 6px;
  left: 56px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #979797;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .analyze-project {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 7px;
  left: 38px;
}

.screen .union-5 {
  position: absolute;
  width: 10px;
  height: 12px;
  top: 1px;
  left: 0;
}

.screen .overlap-3 {
  position: absolute;
  width: 261px;
  height: 66px;
  top: 0;
  left: 0;
  background-color: #3ac450;
  border-radius: 20px;
  box-shadow: 0px 0px 2.6px #00000040;
}

.screen .text-wrapper-8 {
  position: absolute;
  top: 20px;
  left: 89px;
  text-shadow: 0px 0px 4px #00000040;
  font-family: "NEXON Lv1 Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .overlap-4 {
  position: absolute;
  width: 275px;
  height: 63px;
  top: 2px;
  left: 295px;
  background-color: #47b9c8;
  border-radius: 20px;
  box-shadow: 0px 0px 2.6px #00000040;
}

.screen .text-wrapper-9 {
  position: absolute;
  top: 18px;
  left: 74px;
  text-shadow: 0px 0px 4px #00000040;
  font-family: "NEXON Lv1 Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .overlap-5 {
  position: absolute;
  width: 275px;
  height: 63px;
  top: 0;
  left: 590px;
  background-color: #c8475f;
  border-radius: 20px;
  box-shadow: 0px 0px 2.6px #00000040;
}

.screen .text-wrapper-10 {
  position: absolute;
  top: 20px;
  left: 97px;
  text-shadow: 0px 0px 4px #00000040;
  font-family: "NEXON Lv1 Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .overlap-6 {
  position: absolute;
  width: 275px;
  height: 65px;
  top: 1px;
  left: 885px;
  background-color: #bec948;
  border-radius: 20px;
  box-shadow: 0px 0px 2.6px #00000040;
}

.screen .text-wrapper-11 {
  position: absolute;
  top: 19px;
  left: 101px;
  text-shadow: 0px 0px 4px #00000040;
  font-family: "NEXON Lv1 Gothic-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .select-outlined {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 802px;
  left: 1503px;
}

.screen .overlap-7 {
  position: absolute;
  width: 1120px;
  height: 39px;
  top: 800px;
  left: 379px;
  border-radius: 20px;
}

.screen .text-wrapper-12 {
  position: absolute;
  top: 11px;
  left: 36px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #b9b9b9;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .rectangle-7 {
  position: absolute;
  width: 1120px;
  height: 39px;
  top: 0;
  left: 0;
  border-radius: 20px;
  border: 1px solid;
  border-color: #e9e6e6;
}

.screen .group-wrapper {
  position: absolute;
  width: 281px;
  height: 679px;
  top: 226px;
  left: 41px;
}

.screen .overlap-group-wrapper {
  width: 305px;
  height: 679px;
}

.screen .overlap-group-2 {
  position: relative;
  width: 281px;
  height: 679px;
}

.screen .rectangle-8 {
  position: absolute;
  width: 280px;
  height: 50px;
  top: 73px;
  left: 0;
  background-color: #f6f6f6;
}

.screen .view-2 {
  width: 280px;
  height: 679px;
  top: 0;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e2e2e2;
  position: absolute;
  left: 0;
  background-color: #ffffff;
}

.screen .checkbox-filled {
  top: 87px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 27px;
}

.screen .checkbox-unchecked {
  top: 137px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 27px;
}

.screen .checkbox-unchecked-2 {
  top: 292px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 27px;
}

.screen .checkbox-unchecked-3 {
  top: 190px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 27px;
}

.screen .checkbox-unchecked-4 {
  top: 344px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 27px;
}

.screen .checkbox-unchecked-5 {
  top: 390px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 27px;
}

.screen .checkbox-unchecked-6 {
  top: 440px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 27px;
}

.screen .checkbox-unchecked-7 {
  top: 492px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 27px;
}

.screen .checkbox-unchecked-8 {
  top: 546px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 27px;
}

.screen .checkbox-unchecked-9 {
  top: 239px;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 27px;
}

.screen .text-wrapper-13 {
  position: absolute;
  top: 31px;
  left: 99px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .rectangle-9 {
  position: absolute;
  width: 23px;
  height: 60px;
  top: 190px;
  left: 81px;
  background-color: #ffffff;
}

.screen .rectangle-10 {
  position: absolute;
  width: 23px;
  height: 60px;
  top: 250px;
  left: 81px;
  background-color: #ffffff;
}

.screen .rectangle-11 {
  position: absolute;
  width: 23px;
  height: 60px;
  top: 310px;
  left: 81px;
  background-color: #ffffff;
}

.screen .rectangle-12 {
  position: absolute;
  width: 23px;
  height: 60px;
  top: 367px;
  left: 81px;
  background-color: #ffffff;
}

.screen .rectangle-13 {
  position: absolute;
  width: 23px;
  height: 60px;
  top: 427px;
  left: 81px;
  background-color: #ffffff;
}

.screen .rectangle-14 {
  position: absolute;
  width: 23px;
  height: 60px;
  top: 487px;
  left: 81px;
  background-color: #ffffff;
}

.screen .rectangle-15 {
  position: absolute;
  width: 23px;
  height: 60px;
  top: 547px;
  left: 81px;
  background-color: #ffffff;
}

.screen .rectangle-16 {
  position: absolute;
  width: 23px;
  height: 60px;
  top: 607px;
  left: 81px;
  background-color: #ffffff;
}

.screen .line-3 {
  width: 280px;
  top: 72px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .line-4 {
  width: 280px;
  top: 122px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .line-5 {
  width: 280px;
  top: 174px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .line-6 {
  width: 280px;
  top: 224px;
  left: 1px;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .line-7 {
  width: 280px;
  top: 274px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .line-8 {
  width: 280px;
  top: 325px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .line-9 {
  width: 280px;
  top: 376px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .line-10 {
  width: 280px;
  top: 427px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .line-11 {
  width: 280px;
  top: 477px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .line-12 {
  width: 280px;
  top: 528px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .line-13 {
  width: 280px;
  top: 579px;
  left: 0;
  position: absolute;
  height: 1px;
  object-fit: cover;
}

.screen .text-wrapper-14 {
  position: absolute;
  top: 92px;
  left: 66px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-15 {
  position: absolute;
  top: 195px;
  left: 70px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-16 {
  position: absolute;
  top: 244px;
  left: 70px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-17 {
  position: absolute;
  top: 297px;
  left: 70px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-18 {
  position: absolute;
  top: 349px;
  left: 70px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-19 {
  position: absolute;
  top: 395px;
  left: 70px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-20 {
  position: absolute;
  top: 445px;
  left: 70px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-21 {
  position: absolute;
  top: 497px;
  left: 70px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-22 {
  position: absolute;
  top: 551px;
  left: 70px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-23 {
  position: absolute;
  top: 142px;
  left: 67px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .rectangle-17 {
  position: absolute;
  width: 279px;
  height: 53px;
  top: 122px;
  left: 1px;
  background-color: #e4e4e43d;
}

.screen .rectangle-18 {
  position: absolute;
  width: 240px;
  height: 75px;
  top: 592px;
  left: 20px;
  background-color: #f9f9f9;
  border-radius: 20px;
}

.screen .text-wrapper-24 {
  position: absolute;
  top: 610px;
  left: 80px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-25 {
  position: absolute;
  top: 855px;
  left: 1454px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #a72525;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  white-space: nowrap;
}

.screen .overlap-8 {
  position: absolute;
  width: 281px;
  height: 172px;
  top: 16px;
  left: 40px;
  background-color: #ffffff;
  border-radius: 20px;
}

.screen .text-wrapper-26 {
  position: absolute;
  top: 10px;
  left: 45px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-27 {
  position: absolute;
  top: 10px;
  left: 161px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .union-6 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  left: 15px;
}

.screen .keyboard-arrow-right {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 129px;
}

.screen .list {
  display: flex;
  flex-direction: column;
  width: 240px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 15px;
}

.screen .menu-item {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 40px;
  border-radius: 8px;
}

.screen .menu-item-2 {
  height: 40px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
}

.screen .bookmark {
  position: relative;
  width: 24px;
  height: 24px;
}

.screen .text-wrapper-28 {
  position: relative;
  flex: 1;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.screen .menu-item-3 {
  height: 40px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
}

.screen .menu-item-4 {
  height: 32px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
}

.screen .navigation-footer-wrapper {
  width: 1920px;
  height: 261px;
  top: 1036px;
  overflow: hidden;
  position: absolute;
  left: 0;
  background-color: #ffffff;
}

.screen .navigation-footer {
  position: relative;
  width: 1440px;
  height: 264px;
  left: 240px;
  background-color: #ffffff;
}

.screen .items {
  left: 736px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.screen .text-wrapper-29 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.screen .text-wrapper-30 {
  position: relative;
  align-self: stretch;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #444444;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.screen .items-2 {
  left: 955px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.screen .items-3 {
  left: 1173px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.screen .social-icons {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-XS);
  position: absolute;
  top: 176px;
  left: 80px;
}

.screen .buttons-icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.screen .icon {
  position: relative;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
}

.screen .icon-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
}

.screen .icon-3 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
}

.screen .icon-4 {
  position: absolute;
  width: 20px;
  height: 14px;
  top: 5px;
  left: 2px;
}

.screen .divider {
  position: absolute;
  width: 1280px;
  height: 1px;
  top: 0;
  left: 80px;
  object-fit: cover;
}

.screen .kakaotalk {
  position: absolute;
  width: 41px;
  height: 38px;
  top: 43px;
  left: 110px;
}

.screen .navbar {
  position: fixed;
  width: 1920px;
  height: 75px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px #00000040;
}

.screen .text-wrapper-31 {
  left: 201px;
  position: absolute;
  top: 28px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .overlap-9 {
  position: absolute;
  width: 70px;
  height: 30px;
  top: 22px;
  left: 92px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #00000040;
}

.screen .text-wrapper-32 {
  position: absolute;
  top: 6px;
  left: 9px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-33 {
  left: 287px;
  position: absolute;
  top: 28px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-34 {
  position: absolute;
  top: 28px;
  left: 359px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .rectangle-19 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 22px;
  left: 1860px;
}

.screen .text-wrapper-35 {
  left: 1787px;
  position: absolute;
  top: 28px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-36 {
  left: 1697px;
  position: absolute;
  top: 28px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .line-14 {
  position: absolute;
  width: 1px;
  height: 35px;
  top: 21px;
  left: 78px;
  object-fit: cover;
}

.screen .kakaotalk-2 {
  position: absolute;
  width: 41px;
  height: 38px;
  top: 18px;
  left: 17px;
}
