/* 노말라이즈 */
a{ 
  text-decoration:none; 
  color:inherit; 
}
body, ul, li{ 
  margin:0; 
  list-style:none; 
  padding:0;}

a:hover{
	text-decoration:underline;
}
.screen {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #ffffff;
  width: 1920px;
  height: 1188px;
  position: relative;
}

.screen .view {
  height: 852px;
  top: 75px;
  position: absolute;
  width: 1920px;
  left: 0;
  background-color: #ffffff;
}

.screen .text-wrapper {
  position: absolute;
  top: 114px;
  left: 413px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.screen .text-wrapper-2 {
  position: absolute;
  top: 452px;
  left: 413px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.screen .overlap-group {
  position: absolute;
  width: 177px;
  height: 212px;
  top: 149px;
  left: 478px;
  background-image: url(images/rectangle2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper-3 {
  position: absolute;
  top: 173px;
  left: 96px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #8c0000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.screen .text-wrapper-4 {
  top: 172px;
  left: 18px;
  position: absolute;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.screen .overlap {
  position: absolute;
  width: 173px;
  height: 189px;
  top: 157px;
  left: 867px;
  background-image: url(images/rectangle3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.screen .text-wrapper-5 {
  position: absolute;
  top: 165px;
  left: 98px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #8c0000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.screen .text-wrapper-6 {
  top: 164px;
  left: 20px;
  position: absolute;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.screen .rectangle {
  position: absolute;
  width: 156px;
  height: 105px;
  top: 206px;
  left: 1276px;
  object-fit: cover;
}

.screen .text-wrapper-7 {
  position: absolute;
  top: 322px;
  left: 1366px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #8c0000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.screen .text-wrapper-8 {
  top: 321px;
  left: 1288px;
  position: absolute;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.screen .line {
  width: 1160px;
  height: 1px;
  top: 366px;
  left: 380px;
  position: absolute;
  object-fit: cover;
}

.screen .overlap-2 {
  position: absolute;
  width: 29px;
  height: 16px;
  top: 514px;
  left: 413px;
}

.screen .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.screen .overlap-3 {
  position: absolute;
  width: 43px;
  height: 16px;
  top: 514px;
  left: 546px;
}

.screen .overlap-4 {
  position: absolute;
  width: 29px;
  height: 16px;
  top: 514px;
  left: 1363px;
}

.screen .overlap-5 {
  position: absolute;
  width: 1127px;
  height: 1px;
  top: 548px;
  left: 413px;
}

.screen .img {
  width: 1106px;
  height: 1px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.screen .line-2 {
  width: 1127px;
  height: 1px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.screen .text-wrapper-10 {
  position: absolute;
  top: 559px;
  left: 415px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.screen .text-wrapper-11 {
  position: absolute;
  width: 26px;
  top: 593px;
  left: 415px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
}

.screen .text-wrapper-12 {
  position: absolute;
  width: 26px;
  top: 627px;
  left: 415px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
}

.screen .text-wrapper-13 {
  position: absolute;
  width: 26px;
  top: 661px;
  left: 415px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
}

.screen .text-wrapper-14 {
  position: absolute;
  width: 27px;
  top: 695px;
  left: 415px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
}

.screen .text-wrapper-15 {
  position: absolute;
  width: 26px;
  top: 729px;
  left: 415px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
}

.screen .text-wrapper-16 {
  position: absolute;
  width: 36px;
  top: 763px;
  left: 415px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
}

.screen .overlap-6 {
  position: absolute;
  width: 48px;
  height: 16px;
  top: 559px;
  left: 546px;
}

.screen .text-wrapper-17 {
  width: 50px;
  top: 593px;
  left: 546px;
  position: absolute;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
}

.screen .text-wrapper-18 {
  width: 50px;
  top: 627px;
  left: 546px;
  position: absolute;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
}

.screen .text-wrapper-19 {
  width: 50px;
  top: 661px;
  left: 546px;
  position: absolute;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
}

.screen .text-wrapper-20 {
  width: 50px;
  top: 695px;
  left: 546px;
  position: absolute;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
}

.screen .text-wrapper-21 {
  width: 50px;
  top: 729px;
  left: 546px;
  position: absolute;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
}

.screen .text-wrapper-22 {
  width: 50px;
  top: 763px;
  left: 546px;
  position: absolute;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
}

.screen .overlap-7 {
  position: absolute;
  width: 44px;
  height: 16px;
  top: 559px;
  left: 1363px;
}

.screen .overlap-8 {
  position: absolute;
  width: 44px;
  height: 16px;
  top: 593px;
  left: 1361px;
}

.screen .overlap-9 {
  position: absolute;
  width: 44px;
  height: 16px;
  top: 627px;
  left: 1361px;
}

.screen .overlap-10 {
  position: absolute;
  width: 44px;
  height: 16px;
  top: 661px;
  left: 1361px;
}

.screen .overlap-11 {
  position: absolute;
  width: 44px;
  height: 16px;
  top: 695px;
  left: 1361px;
}

.screen .overlap-12 {
  position: absolute;
  width: 44px;
  height: 16px;
  top: 729px;
  left: 1361px;
}

.screen .overlap-13 {
  position: absolute;
  width: 44px;
  height: 16px;
  top: 763px;
  left: 1361px;
}

.screen .overlap-14 {
  position: absolute;
  width: 70px;
  height: 16px;
  top: 559px;
  left: 1462px;
}

.screen .overlap-15 {
  position: absolute;
  width: 70px;
  height: 16px;
  top: 593px;
  left: 1460px;
}

.screen .overlap-16 {
  position: absolute;
  width: 70px;
  height: 16px;
  top: 627px;
  left: 1460px;
}

.screen .overlap-17 {
  position: absolute;
  width: 70px;
  height: 16px;
  top: 661px;
  left: 1460px;
}

.screen .overlap-18 {
  position: absolute;
  width: 70px;
  height: 16px;
  top: 695px;
  left: 1460px;
}

.screen .overlap-19 {
  position: absolute;
  width: 70px;
  height: 16px;
  top: 729px;
  left: 1460px;
}

.screen .overlap-20 {
  position: absolute;
  width: 70px;
  height: 16px;
  top: 763px;
  left: 1460px;
}

.screen .text-wrapper-23 {
  position: absolute;
  width: 45px;
  top: 514px;
  left: 1481px;
  font-family: "NEXON Lv1 Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 16px;
}

.screen .line-3 {
  width: 1127px;
  height: 1px;
  top: 795px;
  left: 413px;
  position: absolute;
  object-fit: cover;
}

.screen .navigation-footer-wrapper {
  height: 261px;
  top: 927px;
  overflow: hidden;
  position: absolute;
  width: 1920px;
  left: 0;
  background-color: #ffffff;
}

.screen .navigation-footer {
  position: relative;
  width: 1440px;
  height: 264px;
  left: 240px;
  background-color: #ffffff;
}

.screen .items {
  left: 736px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.screen .text-wrapper-24 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.screen .text-wrapper-25 {
  position: relative;
  align-self: stretch;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #444444;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.screen .items-2 {
  left: 955px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.screen .items-3 {
  left: 1173px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.screen .social-icons {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-XS);
  position: absolute;
  top: 176px;
  left: 80px;
}

.screen .buttons-icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.screen .icon {
  position: relative;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
}

.screen .icon-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
}

.screen .icon-3 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
}

.screen .icon-4 {
  position: absolute;
  width: 20px;
  height: 14px;
  top: 5px;
  left: 2px;
}

.screen .divider {
  position: absolute;
  width: 1280px;
  height: 1px;
  top: 0;
  left: 80px;
  object-fit: cover;
}

.screen .kakaotalk {
  position: absolute;
  width: 41px;
  height: 38px;
  top: 43px;
  left: 110px;
}

.screen .navbar {
  position: fixed;
  width: 1920px;
  height: 75px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px #00000040;
}

.screen .div-wrapper {
  position: absolute;
  width: 63px;
  height: 26px;
  top: 24px;
  left: 269px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #00000040;
}

.screen .text-wrapper-26 {
  position: absolute;
  top: 4px;
  left: 18px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-27 {
  left: 201px;
  position: absolute;
  top: 28px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-28 {
  left: 101px;
  position: absolute;
  top: 28px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-29 {
  position: absolute;
  top: 28px;
  left: 359px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .rectangle-2 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 22px;
  left: 1860px;
}

.screen .text-wrapper-30 {
  left: 1787px;
  position: absolute;
  top: 28px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-31 {
  left: 1697px;
  position: absolute;
  top: 28px;
  font-family: "NEXON Lv1 Gothic-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.screen .line-4 {
  width: 1px;
  height: 35px;
  top: 21px;
  left: 78px;
  position: absolute;
  object-fit: cover;
}

.screen .kakaotalk-2 {
  position: absolute;
  width: 41px;
  height: 38px;
  top: 18px;
  left: 17px;
}
