@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
  format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display:inline-block;
 }


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 가로 스크롤 제거 */
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebecf0;
  overflow: hidden;
}
.container {
  border-radius: 10px;
  box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babebc;
  position: absolute;
  width: 768px;
  min-height: 480px;
  overflow: hidden;
}
form {
  background: #ebecf0;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
form input {
  background: #eee;
  padding: 16px;
  margin: 8px 0;
  width: 85%;
  border: 0;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}
button {
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 45px;
  margin: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 80ms ease-in;
}
.form_btn {
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}
.form_btn:active {
  box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}
.overlay_btn {
  background-color: #ffffff;
  color: #000000;
  box-shadow: -5px -5px 10px #eae7e7, 5px 5px 8px #ffffff;
}
.sign-in-container {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  transition: all 0.5s;
}
.sign-up-container {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.overlay-left {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
  background-color: #151a36;
  color: #fff;
  transition: all 0.5s;
}
.overlay-right {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #151a36;
  color: #fff;
  transition: all 0.5s;
}
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
  opacity: 0;
}
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 2;
}
.container.right-panel-active .overlay-right {
  transform: translateX(-100%);
  opacity: 0;
}
.container.right-panel-active .overlay-left {
  transform: translateX(-100%);
  opacity: 1;
  z-index: 2;
}
.social-links {
  display: flex; /* 플렉스박스를 사용하여 이미지 정렬 */
  justify-content: center; /* 중앙 정렬 */
  margin-top: 5px; /* 위쪽 여백 */
}

.social-links div {
  margin: 0 10px; /* 각 이미지 사이 여백 */
}

.social-links img {
  width: 15px; /* 이미지 크기 */
  height: auto; /* 비율 유지 */
  cursor: pointer; /* 마우스를 올렸을 때 커서 변화 */
}

form h1 {
  font-weight: bold;
  font-size:28px;
  margin: 0%;
  margin-top: -10px;
  color: #000;
}

p {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
span {
  font-size: 12px;
  color: #000;
  letter-spacing: 0.5px;
  margin-top:7px;
}
.social-links div {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  border-radius: 50%;
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
  cursor: pointer;
}
.social-links a {
  color: #000;
}
.social-links div:active {
  box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}
.navbar {
    position: absolute;
    width: 100%; 
    height: 57px;
    top: 0; 
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #00000040;
}
.text-wrapper-9 {
    left: 160px;
    position: absolute;
    top: 19px;
    font-family: "NEXON Lvl Gothic-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0; 
    line-height: normal; 
    white-space: nowrap;
}

.text-wrapper-10 {
    left: 80px;
    position: absolute;
    top: 19px;
    font-family: "NEXON Lvl Gothic-Light", Helvetica;
    font-weight: 300; 
    color: #000000; 
    font-size: 12px; 
    letter-spacing: 0; 
    line-height: normal; 
    white-space: nowrap;
}

.text-wrapper-11 {
    left: 235px;
    position: absolute;
    top: 19px;
    font-family: "NEXON Lvl Gothic-Light", Helvetica; 
    font-weight: 300; 
    color: #000000; 
    font-size: 12px; 
    letter-spacing: 0; 
    line-height: normal; 
    white-space: nowrap;
}

.text-wrapper-12 {
    position: absolute;
    top: 21px; 
    left: 300px; 
    font-family: "NEXON Lvl Gothic-Light", Helvetica;
    font-weight: 300; 
    color: #000000; 
    font-size: 12px;
    letter-spacing: 0; 
    line-height: normal; 
    white-space: nowrap;
}

.kakaotalk-2 {
    max-width: 100%; /* 부모 요소의 너비에 맞춤 */
    height: auto; /* 비율 유지 */
    width: 35px; /* 원하는 고정 너비 */
    height: 30px; /* 원하는 고정 높이 */
    position: absolute; /* 절대 위치 설정 */
    top: 12px; /* 원하는 위치로 조정 */
    left: 17px; /* 왼쪽으로 이동 */
}